.apiCallMainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}

.apiHeader {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.apiResponseContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    max-width: 600px;
}