.button-container {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button-wrapper {
    display: flex;
    gap: 1rem;
}

.home-title {
    margin-bottom: 4rem;
    color: #f7efd2;
}