.tasks-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: #f7efd2;
}

.tasks-container {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: column;
}