.cardTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cardTitle label input {
    margin-left: 15px;
    font-weight: normal;
    font-size: 0.9rem;
}

.formGroup {
    display: flex;
    justify-content: space-between;
    margin: 10px auto
}

.formControl,
.formSelect {
    width: 50%;
}

.cardStatus {
    flex: 1;
}

.taskForm {
    display: flex;
    flex-direction: column;
    height: 340px;
    transition: height 0.4s ease-in, opacity 1s ease-in;
}

.taskForm label {
    text-align: end;
}


.taskForm label input {
    margin-left: 10px;
}

.hideDetails {
    height: 0;
    opacity: 0;
    overflow: hidden;
}

.showDetails {
    opacity: 1;
    height: 340px;
}

.card {
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 1rem;
    margin-bottom: 0.5rem;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.completed {
    opacity: 0.6;
    text-decoration: line-through;
}

.actions {
    display: flex;
    gap: 0.5rem;
}

.input,
.textarea {
    width: 100%;
    margin-bottom: 0.5rem;
}

.notes {
    margin: 1rem auto;
}

.error {
    font-size: 0.7rem;
    color: red;
    padding: 0;
    margin: 0;
}

.ulContainer {
    height: 70px;
    overflow: auto;
    scrollbar-width: thin;
    border: 1px solid #faf4b6
}