.container {
    width: 100%;
}

.checkbox {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.pagination {
    display: flex;
    justify-content: center;
    gap: 0.25rem;
    margin-top: 1rem;
}

.pagination button {
    padding: 0.25rem 0.5rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    background: #f9f9f9;
}

.active {
    background: #007bff;
    color: white;
}