.app-container {
    display: flex;
    justify-content: center;
}


.button {
    background-color: #eed7a1;
    color: #475c6c;
    border: none;
}


.button:hover {
    background-color: #d4b483;
    color: #ffffff;
}